*.iml
.gradle
/local.properties
/keystore.properties
*.jks
*.keystore
/.gradle-home
/.kotlin
/.idea
/.vscode
/.qoder
/.codex_tmp
/.claude
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
